services:

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - "6333"
      - "6334"
    networks:
      - app-network

  app:
    build: .
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - qdrant
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - QDRANT_URL=http://qdrant:6333

networks:
  app-network:

