services:

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - "6333"
      - "6334"
    volumes:
      - ./files/vectors:/qdrant/storage
    networks:
      - app-network

  app:
    build: .
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - qdrant

networks:
  app-network:

